body {font-family: Georgia, serif; padding: 0 2em 1em;}
h1, h2, h3 {font-family: Trebuchet MS, Georgia, serif; font-style: italic;}
h1, h2 {margin: 0;}
h1 {font-size: 4em;}
p, li, dt, dd {line-height: 1.33em;}
li, dd {padding-bottom: 0.17em;}
li {list-style-position:inside;}
img.fl {float: left; margin-right: 1em}
img.fr {float: right; margin-left: 1em}
#footer {font-size: smaller;}
